---
.local/bin:
  checksum:
    sha256: "bb2477cfaeaaafb2bb23a9984a37172b9330c965b41746ac80dc49a2db3ace30"
  refreshPeriod: 168h
  stripComponents: 1
  type: archive
  url: https://github.com/localstack/localstack-cli/releases/download/v2026.3.0/localstack-cli-2026.3.0-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/cilium:
  checksum:
    sha256: "aa25cd2542614051573008ed18adb7d697fd78e4b0345db83d1650cdaf4492de"
  executable: true
  path: cilium
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/cilium-cli/releases/download/v0.19.2/cilium-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/hubble:
  checksum:
    sha256: "93080f029b96ddf9c3513dc74b15b578190e206410f8f596ae404474f2ff2168"
  executable: true
  path: hubble
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/hubble/releases/download/v1.18.6/hubble-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/oh-my-posh:
  checksum:
    sha256: "db2bb4e35384aff2014c79eec8e81c407656952f7c74d7df84f8b2658286dd14"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/jandedobbeleer/oh-my-posh/releases/download/v29.10.0/posh-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/omnictl:
  checksum:
    sha256: "df26f96d803ce32117dd54b5e1cd02c14639089960e31022b15548ef06dba5a1"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/siderolabs/omni/releases/download/v1.6.5/omnictl-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/talosctl:
  checksum:
    sha256: "4c41a3b10b075292e64b182283d558e9d8e935f43239de1ed4e4b14359593efb"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/siderolabs/talos/releases/download/v1.12.6/talosctl-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/tetra:
  checksum:
    sha256: "3f7dc993fb4617146fcfb70a55d22cc7c54deb950109060396b0e44df49c224e"
  executable: true
  path: tetra
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/tetragon/releases/download/v1.6.1/tetra-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/share/zinit/zinit.git:
  refreshPeriod: 168h
  type: git-repo
  url: https://github.com/zdharma-continuum/zinit.git

{{- if not (contains "WSL2" .chezmoi.kernel.osrelease) }}
Pictures/Wallpapers/lock.png:
  checksum:
    sha256: "5bc03c8a8de1551b9f5d6928f3a0490b66e6f839622d3ee5ff750ac0598ca50b"
  refreshPeriod: 168h
  type: file
  url: https://raw.githubusercontent.com/dharmx/walls/refs/heads/main/digital/a_cartoon_of_a_house_on_a_cliff.png

Pictures/Wallpapers/default.jpg:
  checksum:
    sha256: "a788a581ce7bee14bec937747a523482fc0ec769963213264de85dc32285bf9e"
  refreshPeriod: 168h
  type: file
  url: https://raw.githubusercontent.com/dharmx/walls/refs/heads/main/unsorted/a_group_of_people_standing_on_a_road_with_a_city_in_the_background.jpg
{{- end }}
