---
.local/bin:
  checksum:
    sha256: "a666f278ba26bc5b4a6aad8a5a5e4904a3762d3aab2e824db358abb30cb3632e"
  refreshPeriod: 168h
  stripComponents: 1
  type: archive
  url: https://github.com/localstack/localstack-cli/releases/download/v2026.6.0/localstack-cli-2026.6.0-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/cilium:
  checksum:
    sha256: "67e59489b7ad17dea8eb8cc930435105dff3a4575643ad62567fb2c5ae80d246"
  executable: true
  path: cilium
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/cilium-cli/releases/download/v0.19.5/cilium-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/hubble:
  checksum:
    sha256: "c7c37a5f27ed2ae2d5495c6ddbecc61cebbb841508e77af3c131e96f005ed247"
  executable: true
  path: hubble
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/hubble/releases/download/v1.19.4/hubble-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/bin/oh-my-posh:
  checksum:
    sha256: "d89c847c0418c946d37eb6c3eb1bfbd2b8f5b0e715c4719915f421f237213898"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/jandedobbeleer/oh-my-posh/releases/download/v29.21.0/posh-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/omnictl:
  checksum:
    sha256: "66c7a844c45e01fa5933f8b9db56c19d23eca65db441d56d0312316e683bb8e2"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/siderolabs/omni/releases/download/v1.9.1/omnictl-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/port:
  checksum:
    sha256: "9d6a011ea3330b4b1540858a7219b117671098197aa9c72a5b64771f5c1ed5cf"
  executable: true
  path: port
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/port-experimental/port-cli/releases/download/v0.3.9/port-cli_0.3.9_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz

.local/bin/talosctl:
  checksum:
    sha256: "cb12209727c0c4d57d74c0595f34d441ba491421e1d3c8a5142ed91028a20232"
  executable: true
  refreshPeriod: 168h
  type: file
  url: https://github.com/siderolabs/talos/releases/download/v1.13.5/talosctl-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

.local/bin/tetra:
  checksum:
    sha256: "a765f8f4980accc02b9b69d41c8547a011c3674ffeb1c84321e46f0c712858d9"
  executable: true
  path: tetra
  refreshPeriod: 168h
  type: archive-file
  url: https://github.com/cilium/tetragon/releases/download/v1.7.0/tetra-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz

.local/share/zinit/zinit.git:
  refreshPeriod: 168h
  type: git-repo
  url: https://github.com/zdharma-continuum/zinit.git

{{- if not (contains "WSL2" .chezmoi.kernel.osrelease) }}
Pictures/Wallpapers/lock.png:
  checksum:
    sha256: "5bc03c8a8de1551b9f5d6928f3a0490b66e6f839622d3ee5ff750ac0598ca50b"
  refreshPeriod: 168h
  type: file
  url: https://raw.githubusercontent.com/dharmx/walls/refs/heads/main/digital/a_cartoon_of_a_house_on_a_cliff.png

Pictures/Wallpapers/default.jpg:
  checksum:
    sha256: "a788a581ce7bee14bec937747a523482fc0ec769963213264de85dc32285bf9e"
  refreshPeriod: 168h
  type: file
  url: https://raw.githubusercontent.com/dharmx/walls/refs/heads/main/unsorted/a_group_of_people_standing_on_a_road_with_a_city_in_the_background.jpg
{{- end }}
