---
age:
  passphrase: true

data:
  display:
    {{ if eq .chezmoi.hostname "asrock-x570-linux" -}}
    height: 1440
    make: Dell Inc.
    model: Dell AW3423DW
    output: DP-1
    refresh: 119.991
    scale: 1.33
    width: 3440
    {{- else if eq .chezmoi.hostname "asus-zenbook" -}}
    height: 1620
    make: xxx
    model: xxx
    output: eDP-1
    refresh: 120.002
    scale: 1.5
    width: 2880
    {{- else if eq .chezmoi.hostname "arch-linux-vm" -}}
    height: 2048
    make: xxx
    model: xxx
    output: Virtual-1
    refresh: 60.000
    scale: 1.33
    width: 1152
    {{- else -}}
    height: xxx
    make: xxx
    model: xxx
    output: xxx
    refresh: xxx
    scale: xxx
    width: xxx
    {{- end }}
  external:
    {{ output "lscpu" "--json" }}
  llm:
    host: {{ if contains "WSL2" .chezmoi.kernel.osrelease -}}jose-desktop-windows{{- else -}}127.0.0.1{{- end }}
    model: prism-ml/Bonsai-27B-gguf:Q1_0
    port: 9931

edit:
  {{- if not (contains "WSL2" .chezmoi.kernel.osrelease) }}
  args:
    - --wait
  command: zeditor
  {{- end }}

encryption: age
