[color]
	ui = true
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	meta = yellow
	new = green bold
	old = red bold
	whitespace = red reverse
[color "diff-highlight"]
	newHighlight = green bold 22
	newNormal = green bold
	oldHighlight = red bold 52
	oldNormal = red bold
[core]
	editor = subl --new-window --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
	trustExitCode = true
[pull]
	rebase = false
[push]
	default = simple
[user]
	email = 65740649+asininemonkey@users.noreply.github.com
	name = Jose Cardoso
