alias asl='aws sso login'
alias ca='chezmoi apply --force --init'
alias cu='chezmoi update --force --init'
alias dig='drill'
alias dsc='docker stop $(docker ps --quiet)'
alias dsp='docker system prune --all --force --volumes'
alias failed='systemctl list-units --state failed'
alias flatpak='flatpak --user'
alias gcw='git commit --message WIP'
alias grit='git rebase --interactive --root'
alias grpo='git remote prune origin'
alias help='run-help'
alias key='oha'
alias htop='btop'
alias ls='eza --git --git-repos --group --group-directories-first --icons --time-style long-iso'
alias lsusb='cyme'
alias lzd='lazydocker'
alias lzg='lazygit'
alias nv='niri validate'
alias open='xdg-open'
alias ping='trip'
alias sc='scrcpy --keyboard uhid --max-fps 60 --max-size 1920 --no-audio --video-codec h265'
alias sc4='scrcpy --keyboard uhid --max-fps 60 --max-size 1920 --no-audio --video-codec h264'
alias speedtest='speedtest --secure --share'
alias tail='tspin'
alias top='btop'
alias tracepath='trip'
alias tree='ls --tree'
alias tsaws='sudo tailscale up --accept-routes --exit-node aws-eu-west-1 --operator {{ .user.name.short }} --reset --ssh'
alias tshome='sudo tailscale up --accept-routes --exit-node pi --operator {{ .user.name.short }} --reset --ssh'
alias tsmch='sudo tailscale up --accept-routes --exit-node ch-zrh-wg-001.mullvad.ts.net --operator {{ .user.name.short }} --reset --ssh'
alias tsmgb='sudo tailscale up --accept-routes --exit-node gb-glw-wg-001.mullvad.ts.net --operator {{ .user.name.short }} --reset --ssh'
alias tsmie='sudo tailscale up --accept-routes --exit-node ie-dub-wg-101.mullvad.ts.net --operator {{ .user.name.short }} --reset --ssh'
alias tsmus='sudo tailscale up --accept-routes --exit-node us-chi-wg-301.mullvad.ts.net --operator {{ .user.name.short }} --reset --ssh'
alias tsreset='sudo tailscale up --accept-routes --operator {{ .user.name.short }} --reset --ssh'
alias zu='zinit self-update && zinit update --all'

{{- if contains "WSL2" .chezmoi.kernel.osrelease }}
alias ssh='ssh.exe'
{{- end }}
