{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash

yay --needed --noconfirm --sync {{- range .packages.arch.aur }} {{ . }}{{ end }}

sudo pacman --needed --noconfirm --sync {{- range .packages.arch.core }} {{ . }}{{ end }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.extra }} {{ . }}{{ end }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.niri }} {{ . }}{{ end }}
{{ end -}}
