{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash

sudo pacman --noconfirm --refresh

sudo pacman --needed --noconfirm --sync {{- range .packages.arch.common.core }} {{ . }}{{ end }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.common.extra }} {{ . }}{{ end }}

{{- if not (contains "WSL2" .chezmoi.kernel.osrelease) }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.gui.extra }} {{ . }}{{ end }}
{{- end }}

{{- if eq .chezmoi.hostname "asrock-x570-linux" }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.nvidia.extra }} {{ . }}{{ end }}
{{- end }}

{{- if eq .chezmoi.hostname "asus-zenbook" }}
sudo pacman --needed --noconfirm --sync {{- range .packages.arch.amd.extra }} {{ . }}{{ end }}
{{- end }}
{{ end }}
