{{ if env "XDG_SESSION_DESKTOP" -}}
#!/usr/bin/env bash

# {{ include "dot_config/dconf/dconf.ini" | sha256sum }}

if type dconf &> /dev/null
then
    dconf load / < {{ joinPath .chezmoi.sourceDir "dot_config/dconf/dconf.ini" | quote }}
fi
{{- end }}
