#!/usr/bin/env bash

set -eu

if [ ! $(getent group docker) ]
then
    sudo groupadd --gid 900 --system docker
fi

if [ ! $(getent group | grep 'docker.*{{ .user.name.short }}') ]
then
    sudo usermod --append --groups docker {{ .user.name.short }}
fi

if [ ! -f /etc/docker/daemon.json ]
then
    sudo mkdir --parents /etc/docker

cat << EOF | sudo tee /etc/docker/daemon.json > /dev/null
{
  "features": {
    "containerd-snapshotter": true
  }
}
EOF
fi
