{{ if and (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.hostname "asus-zenbook") -}}
#!/usr/bin/env bash

set -eu

if ! grep dcdebugmask /boot/EFI/arch-limine/limine.conf &> /dev/null
then
    sudo sed --in-place '/cmdline/ s/$/ amdgpu.dcdebugmask=0x410/' /boot/EFI/arch-limine/limine.conf
fi

if [ ! -f /etc/mkinitcpio.conf.d/amd.conf ]
then
    echo 'MODULES=(amdgpu)' | sudo tee /etc/mkinitcpio.conf.d/amd.conf > /dev/null
    sudo mkinitcpio --allpresets
fi
{{ end }}
