{{- if eq .chezmoi.hostname "asrock-x570-linux" }}
monitor.alsa.rules = [
    {
        actions = {
            update-props = {
                device.disabled = true
            }
        }

        matches = [
            {
                device.name = "~alsa_card.pci-*"
            }
        ]
    }
]
{{- end }}
