apiVersion: v1
clusters:
  - cluster:
      server: https://k8s-operator.fable-blues.ts.net
    name: home-tailscale
contexts:
  - context:
      cluster: home-tailscale
      user: tailscale-auth
    name: k8s-operator.fable-blues.ts.net
current-context: k8s-operator.fable-blues.ts.net
kind: Config
users:
  - name: tailscale-auth
    user:
      token: unused
