# https://kubernetes.io/docs/reference/config-api/kubeconfig.v1/
---
apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: https://{{ lower .user.name.first }}-{{ lower .user.name.last }}.kubernetes.eu-central-1.omni.siderolabs.io
    name: home-omni
contexts:
  - context:
      cluster: home-omni
      user: home-omni
    name: home-omni
current-context: home-omni
users:
  - name: home-omni
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url=https://{{ lower .user.name.first }}-{{ lower .user.name.last }}.eu-central-1.omni.siderolabs.io/oidc
          - --oidc-client-id=native
          - --oidc-extra-scope=cluster:home
        command: kubectl
        env: null
        provideClusterInfo: false
