apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: https://{{ lower .user.name.first }}-{{ lower .user.name.last }}.kubernetes.eu-central-1.omni.siderolabs.io
    name: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home
contexts:
  - context:
      cluster: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home
      namespace: default
      user: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home-siderolabs.com@{{ lower .user.name.first }}{{ lower .user.name.last }}.com
    name: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home
current-context: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home
users:
  - name: {{ lower .user.name.first }}-{{ lower .user.name.last }}-home-siderolabs.com@{{ lower .user.name.first }}{{ lower .user.name.last }}.com
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url=https://{{ lower .user.name.first }}-{{ lower .user.name.last }}.eu-central-1.omni.siderolabs.io/oidc
          - --oidc-client-id=native
          - --oidc-extra-scope=cluster:home
        command: kubectl
        env: null
        provideClusterInfo: false
