(
    config: {
        [
            (
                connector: "DP-1",
                make: "Dell Inc.",
                model: "Dell AW3423DW",
            ),
        ]: [
            (
                mode: ((3440, 1440), Some(119991)),
                vrr: r#true,
                scale: 1.25,
                transform: Normal,
                position: (0, 0),
                enabled: r#true,
                xwayland_primary: true,
            ),
        ],
    },
)