{{ if env "WAYLAND_DISPLAY" -}}
[commit]
    gpgsign = true

[core]
    {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
    editor = code --wait
    {{- else }}
    editor = zeditor --wait
    {{- end }}
    {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
    sshCommand = "/mnt/c/Windows/System32/OpenSSH/ssh.exe"
    {{- end }}

[diff]
    tool = difftool

[difftool "difftool"]
    {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
    cmd = code --wait --diff $LOCAL $REMOTE
    {{- else }}
    cmd = zeditor --wait --diff $LOCAL $REMOTE
    {{- end }}

[fetch]
    prune = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
    {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
    program = "/mnt/c/Users/{{ .user.name.long }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
    {{- else }}
    program = /opt/1Password/op-ssh-sign
    {{- end }}

[merge]
    tool = mergetool

[mergetool "mergetool"]
    {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
    cmd = code --wait --merge $REMOTE $LOCAL $BASE
    {{- else }}
    cmd = zeditor --wait --merge $REMOTE $LOCAL $BASE
    {{- end }}

[pull]
    rebase = false

[url "ssh://git@github.com"]
    insteadOf = https://github.com

[user]
    email = {{ .user.email }}
    name = {{ .user.name.full }}
    signingkey = ~/.ssh/id_ed25519.pub
{{- end }}
