[commit]
    gpgsign = true

[core]
    editor = zeditor --wait

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[url "ssh://git@github.com"]
    insteadOf = https://github.com

[user]
    email = {{ .user.email }}
    name = {{ .user.name.full }}
    signingkey = {{ .user.ssh.primary }}
