{
  "providers": {
    "{{ .llm.provider.name }}": {
      "api": "openai-completions",
      "apiKey": "{{ .llm.provider.api.key }}",
      "baseUrl": "http://{{ .llm.server.hostname }}:{{ .llm.server.port }}{{ .llm.provider.api.path }}",
      "models": [
        {
          "id": "{{ .llm.provider.model }}"
        }
      ]
    }
  }
}
