{
  "providers": {
    "llama.cpp": {
      "api": "openai-completions",
      "apiKey": "llama.cpp",
      "baseUrl": "http://{{ .llm.server.hostname }}:{{ .llm.server.port }}/v1",
      "models": [
        {
          "id": "{{ .llm.server.model }}"
        }
      ]
    }
  }
}
