# Use Bash For TTY
if [ $(tput colors) != "256" ]
then
    exec bash --login
fi

# Zinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
source "${ZINIT_HOME}/zinit.zsh"

## Oh My Zsh Libraries - https://github.com/ohmyzsh/ohmyzsh/tree/master/lib
for LIBRARY in \
    history.zsh
do
    zinit snippet "OMZL::${LIBRARY}"
done

## Oh My Zsh Plugins - https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins
for PLUGIN in \
    aws \
    chezmoi \
    git \
    helm \
    k9s \
    kubectl \
    ngrok \
    terraform
do
    zinit snippet "OMZP::${PLUGIN}"
done

# compinit
autoload -Uz compinit
compinit

# History Options
setopt HIST_SAVE_NO_DUPS

# Aliases
if [ -f ${HOME}/.zshaliases ]
then
    source ${HOME}/.zshaliases
fi

# Zsh Line Editor
typeset -g -A key

bindkey -- "${terminfo[kdch1]}" delete-char
bindkey -- "${terminfo[kLFT5]}" backward-word
bindkey -- "${terminfo[kRIT5]}" forward-word

# Prompt
fastfetch --show-errors

echo

eval "$(oh-my-posh --config ${HOME}/.config/oh-my-posh/config.json init zsh)"
