{
    "extensions": {
        "recommendations": [
            "editorconfig.editorconfig",
            "github.vscode-github-actions",
            "hashicorp.terraform",
            "jinliming2.vscode-go-template",
            "redhat.vscode-yaml",
        ]
    },
    "folders": [
        {
            "path": "."
        },
        {
            "path": "../.local/share/chezmoi"
        },
    ],
    "settings": {
        "chat.byokUtilityModelDefault": "mainAgent",
        "editor.fontFamily": "IosevkaTerm NFM",
        "editor.fontSize": 16,
        "git.autofetch": "all",
        "git.confirmSync": false,
        "git.replaceTagsWhenPull": true
        "go-template.patterns": ["**/*.tmpl"],
        "inlineChat.defaultModel": "qwen3.5:9b (ollama-models)",
        "ollama.endpoint": "{{ if contains "WSL2" .chezmoi.kernel.osrelease -}}http://jose-desktop-windows:11434{{- end }}",
        "redhat.telemetry.enabled": false,
        "scm.repositories.visible": 0,
        "telemetry.editStats.enabled": false,
        "telemetry.feedback.enabled": false,
        "terminal.integrated.allowChords": false,
        "workbench.startupEditor": "none"
    }
}
