{
    "extensions": {
        "recommendations": [
            "editorconfig.editorconfig",
            "github.vscode-github-actions",
            "hashicorp.terraform",
            "jinliming2.vscode-go-template",
            "mineiros.terramate",
            "redhat.vscode-yaml",
            "ZooCodeOrganization.zoo-code",
        ]
    },
    "folders": [
        {
            "path": "."
        },
        {
            "path": "../.local/share/chezmoi"
        },
    ],
    "settings": {
        "chat.byokUtilityModelDefault": "mainAgent",
        "editor.fontFamily": "IosevkaTerm NFM",
        "editor.fontSize": 16,
        "files.associations": {
            "*.tm.hcl": "terramate",
        },
        "git.autofetch": "all",
        "git.confirmSync": false,
        "git.replaceTagsWhenPull": true,
        "go-template.patterns": ["**/*.tmpl"],
        "redhat.telemetry.enabled": false,
        "scm.repositories.selectionMode": "single"
        "scm.repositories.visible": 0,
        "telemetry.editStats.enabled": false,
        "telemetry.feedback.enabled": false,
        "terminal.integrated.allowChords": false,
        "workbench.startupEditor": "none",
    }
}
