{
    "globalSettings": {
        "allowedCommands": [
            "git diff",
            "git log",
            "git show"
        ],
        "deniedCommands": [],
        "destructiveCommandGuardEnabled": true,
        "lastSettingsExportPath": "/home/{{ .user.name.short }}/Source/zoo-code-settings.json",
        "lastShownAnnouncementId": "aug-2026-v3.80.1-allowlists-models-reliability",
        "telemetrySetting": "disabled"
    },
    "providerProfiles": {
        "apiConfigs": {
            "{{ .llm.provider.name }}": {
                "apiProvider": "openai",
                "id": "{{ .llm.provider.name }}",
                "openAiApiKey": "{{ .llm.provider.api.key }}",
                "openAiBaseUrl": "http://{{ .llm.server.hostname }}:{{ .llm.server.port }}{{ .llm.provider.api.path }}",
                "openAiModelId": "{{ .llm.provider.model }}"
            }
        },
        "currentApiConfigName": "{{ .llm.provider.name }}",
        "modeApiConfigs": {
            "architect": "{{ .llm.provider.name }}",
            "ask": "{{ .llm.provider.name }}",
            "code": "{{ .llm.provider.name }}",
            "debug": "{{ .llm.provider.name }}",
            "orchestrator": "{{ .llm.provider.name }}"
        }
    }
}
